<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<div id="menu" ng-include="'views/common/menu.html'"></div>

<!-- Main Wrapper -->
<div id="wrapper">
  <div id="page-wrapper">
      <div class="row">
        <h1 class="page-header"> IM 사용자 원장(퇴직자 제외)</h1>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    IM 사용자 원장(퇴직자 제외) BATCH 실행정보
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                                <div class="form-group">
                                    <label>IM 사용자 정보</label>
                                    <p class="form-control-static">이 데이터는 매일 오전 6:00를 기준으로 IM과 동기화 됩니다. </p>
                                </div>
                                <button class="btn btn-default" ng-click="startIMUser()">[[btnIMUser]]</button>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->

</div>

<!-- Right sidebar -->
<!-- <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>-->

<!-- Footer -->
<!-- <footer class="footer" ng-include="'views/common/footer.html'"></footer> -->
